@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --chart-alert: #f43f5e;
  --chart-warning: #f59e0b;
  --chart-safe: #22c55e;
}

@layer base {
  body {
    @apply bg-zinc-50 text-black;
  }

  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-bold;
  }
  p {
    @apply text-base;
  }
  a {
    @apply text-blue-600 underline;
  }
  ul {
    @apply list-disc pl-5;
  }
  ol {
    @apply list-decimal pl-5;
  }
  li {
    @apply mb-2;
  }
}
